<%= title_tag "Liste des variations - " + @import.name %>

<div id="workspace" class="panel panel-default line ce-LineBlock col-md-9">
<% @variations.each do |variation| %>
    <div class="panel-heading ce-LineBlock-header">
      <%= variation.typev %>
    </div>
    <div class="panel-body">
      <p>
        <%= variation.descriptionv %>
      </p>
    </div>
<% end %>
</div>

<div id="sidebar" class="col-md-3">
  <a class="add">
    <%= link_to "Export CSV", referential_variations_path(format: "csv", :job_id => @import.id ) %>
  </a>
</div>


